.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-height: 32px;
  margin-left: 5rem;
}

.header .search {
  width: 590px;
  height: 48px;
  margin-left: 5rem;
  border: 0 none;
  cursor: not-allowed;
  border-radius: 4px;
}

.container-search {
  padding-left: 4rem;
}
