<mat-toolbar class="header mat-elevation-z1">
  <span>
    <a routerLink="">
      <img class="logo" src="../../../../assets/Search.svg" alt="logo" />
    </a>
  </span>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Search countries by name</mat-label>
    <input />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field> -->
  <span>
    <input class="search" />
    <button (click)="fazerAlgo()">
      Buscar
      <i class="material-icons"> search </i>
    </button>
  </span>
</mat-toolbar>
