<mat-card class="card" *ngFor="let repo of userRepos">
  <mat-card-header>
    <mat-card-title
      ><a href="https://github.com/{{ repo.full_name }}" class="title">{{
        repo.name
      }}</a></mat-card-title
    >
    <mat-card-subtitle>{{ repo.full_name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ repo.description }}</p>
    <div class="star">
      <img src="../../../../assets/Star.png" alt="star" />
      <p>{{ repo.stargazers_count }}</p>
    </div>
  </mat-card-content>
</mat-card>
