.card {
  margin: 4rem;
}

.star {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star img {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

.star p {
  padding-top: 1rem;
}
