<div class="sidebar">
  <mat-card>
    <div class="container">
      <div class="container-info">
        <div class="header-content">
          <img src="{{ userData?.avatar_url }}" alt="logo" class="foto" />
          <div class="header-name">
            <h4>{{ userData?.name }}</h4>
            <span>@{{ userData?.login }}</span>
          </div>
        </div>
        <div class="container-description">
          <p>{{ userData?.bio }}</p>
        </div>
        <div class="container-subscribe">
          <p>
            <img src="../../../../assets/Group1.png" alt="group" />
            {{ userData?.followers }}
            seguidores
          </p>
          <p>
            <img src="../../../../assets/Heart.png" alt="heart" />
            {{ userData?.following }} seguindo
          </p>
        </div>
        <div class="container-infos">
          <div>
            <p>
              <img src="../../../../assets/Work.png" alt="work" />{{
                userData?.company
              }}
            </p>
          </div>
          <div>
            <p>
              <img src="../../../../assets/City.png" alt="work" />{{
                userData?.location
              }}
            </p>
          </div>
          <div>
            <p>
              <img src="../../../../assets/Email.png" alt="email" />{{
                userData?.email
              }}
            </p>
          </div>
          <div>
            <a href="{{ userData?.html_url }}" class="link"
              ><img src="../../../../assets/Link.png" alt="url" />{{
                userData?.html_url
              }}
            </a>
          </div>
          <div class="twitter">
            <a href="https://twitter.com/{{ userData?.twitter_username }}">
              <img src="../../../../assets/Twiter.png" alt="Twitter" />{{
                userData?.twitter_username
              }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <button class="button-Contato">Contato</button>
</div>
