.sidebar {
  height: 100%;
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 6px;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.foto {
  height: 48px;
  width: 48px;
  border-radius: 30px;
  margin: 6px;
  align-items: center;
}

.header-name {
  margin-left: 1.5rem;
}

.header-name h4 {
  margin-bottom: 0;
}

.container-info {
  padding: 0.6rem;
}

.container-description {
  padding-top: 0.5rem;
}

.button-Contato {
  margin-top: 2rem;
  width: 280px;
  height: 48px;
  background-color: #8c19d2;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.twitter {
  margin-bottom: 10px;
  margin-top: 10px;
}

.link {
  text-decoration: none;
}

.link i {
  color: black;
}

.container-infos {
  gap: 8px;
}
