<div class="sidebar">
  <div class="container">
    <div class="container-info">
      <div class="header-content">
        <img src="../../../../assets/Search.svg" alt="logo" class="foto" />
        <div class="header-name">
          <h4>Diego</h4>
          <span>@diego.ssilva</span>
        </div>
      </div>
      <div class="container-description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac aliquet odio mattis.
        </p>
      </div>
      <div class="container-subscribe">
        <p><i class="material-icons"> groups </i>240 seguidores</p>
        <p><i class="material-icons"> person </i>24 seguindo</p>
      </div>
      <div>
        <p><i class="material-icons"> work </i>Petize</p>
        <p><i class="material-icons"> apartment </i>São Paulo</p>
        <p><i class="material-icons"> email </i>@email</p>
        <p><i class="material-icons"> link </i>link</p>
        <p><i class="material-icons"> label</i>twiter</p>
      </div>
    </div>
  </div>
  <button class="button-Contato">
    <a href="">Contato </a>
  </button>
</div>
